@import "tailwindcss";


*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  
}

h1,h2,h3, h4,p,span{
  margin: 0;
  padding: 0;
} 


.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}


/* Works in Chrome, Edge, Safari */
.my-scroll {
  scrollbar-width: thin;              /* Firefox */
  scrollbar-color: #797c7b transparent;   /* thumb | track (Firefox) */
  scroll-behavior: smooth;
}

.my-scroll::-webkit-scrollbar {
  width: 8px;   /* vertical */
  height: 8px;  /* horizontal */
}

.my-scroll::-webkit-scrollbar-track {
  background: #2f5db9; /* light gray */
}

.my-scroll::-webkit-scrollbar-thumb {
  background-color: #10b981; /* green */
  border-radius: 9999px;     /* rounded */
  border: 2px solid #f3f4f6; /* optional: adds spacing around */
}

.scrollbar-hide-x::-webkit-scrollbar:horizontal {
  display: none; /* Chrome, Safari */
}
.scrollbar-hide-x {
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: thin;     /* Firefox keeps vertical */
}